<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections></configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
        <add key="metaFilePath" value="metadb.json" />
        <add key="sqlPath" value="queries" />
        <add key="config" value="DbChecker.exe.config" />
        <add key="lastConnStrName" value="" />
        <add key="lastGroupName" value="" />
        <add key="lastScriptName" value="" />
        <add key="autoSave" value="false" />
        <add key="wrap" value="false" />

        <add key="Snippet_SelectAllTables" value="select * from information_schema.tables"/>
        <add key="Snippet_SelectLinkedServers" value="SELECT name, data_source FROM sys.servers"/>
        <add key="Snippet_SelectStoredProcedures" value="Select *
from sysobjects
where type = 'P'
and category = 0"/>

    </appSettings>
    <connectionStrings configSource="connections.config"/>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
</configuration>