<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="config" value="DbChecker.exe.config" />
    <add key="lastConnStrPosition" value="0" />
  </appSettings>
  <connectionStrings>
    <add name="BackOfficeAdmin" connectionString="Data Source=EU01-SQL-DEV-03.GLOBAL.ROOT;Initial Catalog=BackOffice;Persist Security Info=True;User ID=BackOfficeAdmin;Password=Amph!b!0us" providerName="System.Data.SqlClient" />
    <add name="EUROMONEYSECURITY-DEV" connectionString="Data Source=EU01-SQL-DEV-03.GLOBAL.ROOT;Initial Catalog=EMSPS;Persist Security Info=True;User ID=EMSPS;Password=GuDe7O43q93VKaOfUpIaGBtIRqlFBJPNwTuzvl6ZoR8f" providerName="System.Data.SqlClient" />
    <add name="EUROMONEYSECURITY-UAT" connectionString="Data Source=AZ02-SQL-STG-01.emazure.internal;Initial Catalog=EMSPS;Persist Security Info=True;User ID=EMSPS;Password=GuDe7O43q93VKaOfUpIaGBtIRqlFBJPNwTuzvl6ZoR8f" providerName="System.Data.SqlClient" />
    <add name="NCUDATASOURCE-PROD" connectionString="Data Source=AZ01-SQL-PRD-02;Initial Catalog=NewCentralUsers;User ID=BackOfficeAdmin;Password=Amph!b!0us" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>