<connectionStrings>
    <add name="NewCentralUsers DEV" connectionString="Data Source=EU01-SQL-DEV-03;Initial Catalog=NewCentralUsers;User ID=SqlAdmin;Password=$bu!ldm3" providerName="System.Data.SqlClient" />
    <add name="BackOfficeAdmin" connectionString="Data Source=EU01-SQL-DEV-03.GLOBAL.ROOT;Initial Catalog=BackOffice;Persist Security Info=True;User ID=BackOfficeAdmin;Password=Amph!b!0us" providerName="System.Data.SqlClient" />
    <add name="EUROMONEYSECURITY-DEV" connectionString="Data Source=EU01-SQL-DEV-03.GLOBAL.ROOT;Initial Catalog=EMSPS;Persist Security Info=True;User ID=EMSPS;Password=GuDe7O43q93VKaOfUpIaGBtIRqlFBJPNwTuzvl6ZoR8f" providerName="System.Data.SqlClient" />
    <add name="EUROMONEYSECURITY-UAT" connectionString="Data Source=AZ02-SQL-STG-01.emazure.internal;Initial Catalog=EMSPS;Persist Security Info=True;User ID=EMSPS;Password=GuDe7O43q93VKaOfUpIaGBtIRqlFBJPNwTuzvl6ZoR8f" providerName="System.Data.SqlClient" />
    <add name="NCUDATASOURCE-PROD" connectionString="Data Source=AZ01-SQL-PRD-02;Initial Catalog=NewCentralUsers;User ID=BackOfficeAdmin;Password=Amph!b!0us" providerName="System.Data.SqlClient" />

    <add name="NCUDATASOURCE-PROD" connectionString="Data Source=AZ01-SQL-PRD-02;Initial Catalog=NewCentralUsers;User ID=BackOfficeAdmin;Password=Amph!b!0us" providerName="System.Data.SqlClient" />
    <add name="BackOfficeAdmin - AZ01-SQL-PRD-01 - EmailCampaign" connectionString="Data Source=AZ01-SQL-PRD-01;Initial Catalog=EmailCampaign;User ID=BackOfficeAdmin;Password=Amph!b!0us" />
    <add name="SqlAdmin - AZ01-SQL-PRD-01 - EmailCampaign" connectionString="Data Source=AZ01-SQL-PRD-01;Initial Catalog=EmailCampaign;User ID=SqlAdmin;Password=$bu!ldm3" />
    <add name="SqlAdmin - AZ01-SQL-PRD-01 - EmailCampaign_Archive" connectionString="Data Source=AZ01-SQL-PRD-01;Initial Catalog=EmailCampaign_Archive;User ID=SqlAdmin;Password=$bu!ldm3" />
    <add name="SqlAdmin - AZ01-SQL-PRD-03 - BOAT" connectionString="Data Source=AZ01-SQL-PRD-03;Initial Catalog=BOAT;User ID=SqlAdmin;Password=$bu!ldm3" />
    <add name="SqlAdmin - AZ01-SQL-PRD-02 - Backoffice" connectionString="Data Source=AZ01-SQL-PRD-02;Initial Catalog=Backoffice;User ID=SqlAdmin;Password=$bu!ldm3" />
    <add name="SqlAdmin - AZ01-SQL-PRD-02 - NewCentralUsers" connectionString="Data Source=AZ01-SQL-PRD-02;Initial Catalog=NewCentralUsers;User ID=SqlAdmin;Password=$bu!ldm3" />
    <add name="Titan - EU01-SQL-DEV-04 - Titan" connectionString="data source=EU01-SQL-DEV-04;initial catalog=Titan;user id=Titan;password=Titan" />
</connectionStrings>